TimeLog.TransactionalApi.SDK/Service References/InvoicingService/InvoicingServiceSecure5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.timelog.com" elementFormDefault="qualified" targetNamespace="http://api.timelog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd4" namespace="http://www.timelog.com/api/tlp/v1" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Attributes" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd7" namespace="http://api.timelog.com/services/customfield/1_0" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Invoicing/V1_1/InvoicingServiceSecure.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
  <xs:complexType name="ResponseOfInvoiceSpecification">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InvoiceSpecification" Namespace="http://www.timelog.com/api/tlp/v1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Return" nillable="true" type="q2:ArrayOfInvoiceSpecification" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q3:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfInvoiceSpecification" nillable="true" type="tns:ResponseOfInvoiceSpecification" />
  <xs:complexType name="APIBaseExtended">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.timelog.com/api/tlp/v1_2" base="q4:APIBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Attributes" minOccurs="0" name="Action" type="q5:DataAction" />
          <xs:element minOccurs="0" name="IsCustomFieldsLoaded" type="xs:boolean" />
          <xs:element xmlns:q6="http://api.timelog.com/services/customfield/1_0" minOccurs="0" name="CustomFields" nillable="true" type="q6:ArrayOfCustomField" />
          <xs:element minOccurs="0" name="IsExternalKeysLoaded" type="xs:boolean" />
          <xs:element minOccurs="0" name="ExternalKeys" nillable="true" type="tns:ArrayOfExternalSystemContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="APIBaseExtended" nillable="true" type="tns:APIBaseExtended" />
  <xs:complexType name="ArrayOfExternalSystemContext">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExternalSystemContext" nillable="true" type="tns:ExternalSystemContext" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExternalSystemContext" nillable="true" type="tns:ArrayOfExternalSystemContext" />
  <xs:complexType name="ExternalSystemContext">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:APIBaseExtended">
        <xs:sequence>
          <xs:element minOccurs="0" name="SystemName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExternalID" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExternalSystemContext" nillable="true" type="tns:ExternalSystemContext" />
  <xs:complexType name="Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://www.timelog.com/api/tlp/v1_2" base="q7:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfRequestParameter" />
          <xs:element minOccurs="0" name="ServiceClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfRequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestParameter" nillable="true" type="tns:RequestParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestParameter" nillable="true" type="tns:ArrayOfRequestParameter" />
  <xs:complexType name="RequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestParameter" nillable="true" type="tns:RequestParameter" />
  <xs:complexType name="ArrayOfAPIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIMessage" nillable="true" type="tns:APIMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAPIMessage" nillable="true" type="tns:ArrayOfAPIMessage" />
  <xs:complexType name="APIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="Severity" type="q8:APIMessageSeverity" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIMessage" nillable="true" type="tns:APIMessage" />
  <xs:complexType name="ResponseOfInvoice">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Invoice" Namespace="http://www.timelog.com/api/tlp/v1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://www.timelog.com/api/tlp/v1_2" base="q9:APIBase">
        <xs:sequence>
          <xs:element xmlns:q10="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Return" nillable="true" type="q10:ArrayOfInvoice" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q11:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfInvoice" nillable="true" type="tns:ResponseOfInvoice" />
  <xs:complexType name="ResponseOfCreditNote">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditNote" Namespace="http://www.timelog.com/api/tlp/v1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://www.timelog.com/api/tlp/v1_2" base="q12:APIBase">
        <xs:sequence>
          <xs:element xmlns:q13="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Return" nillable="true" type="q13:ArrayOfCreditNote" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q14:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfCreditNote" nillable="true" type="tns:ResponseOfCreditNote" />
  <xs:complexType name="ResponseOfInvoiceWithExternalKey">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="InvoiceWithExternalKey" Namespace="http://www.timelog.com/api/tlp/v1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://www.timelog.com/api/tlp/v1_2" base="q15:APIBase">
        <xs:sequence>
          <xs:element xmlns:q16="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Return" nillable="true" type="q16:ArrayOfInvoiceWithExternalKey" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q17:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfInvoiceWithExternalKey" nillable="true" type="tns:ResponseOfInvoiceWithExternalKey" />
  <xs:complexType name="ResponseOfCreditNoteWithExternalKey">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="CreditNoteWithExternalKey" Namespace="http://www.timelog.com/api/tlp/v1" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://www.timelog.com/api/tlp/v1_2" base="q18:APIBase">
        <xs:sequence>
          <xs:element xmlns:q19="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Return" nillable="true" type="q19:ArrayOfCreditNoteWithExternalKey" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q20:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfCreditNoteWithExternalKey" nillable="true" type="tns:ResponseOfCreditNoteWithExternalKey" />
</xs:schema>