TimeLog.TransactionalApi.SDK/Service References/InvoicingService/InvoicingServiceSecure.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.timelog.com/api/tlp/v1" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InvoicingServiceSecure" targetNamespace="http://www.timelog.com/api/tlp/v1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_InvoicingService_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1/Imports">
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_1" />
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" />
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd4" namespace="http://www.timelog.com/api/tlp/v1" />
      <xsd:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="InvoicingService_IsAlive_InputMessage">
    <wsdl:part xmlns:q1="http://www.timelog.com/api/tlp/v1_1" name="parameters" element="q1:IsAlive" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_IsAlive_OutputMessage">
    <wsdl:part xmlns:q2="http://www.timelog.com/api/tlp/v1_1" name="parameters" element="q2:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByID" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByIDResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByGUID" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetCreditNoteByID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditNoteByID" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetCreditNoteByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditNoteByIDResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetCreditNoteByGUID_InputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditNoteByGUID" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetCreditNoteByGUID_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetCreditNoteByGUIDResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_MarkInvoiceAsChecked_InputMessage">
    <wsdl:part name="parameters" element="tns:MarkInvoiceAsChecked" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_MarkInvoiceAsChecked_OutputMessage">
    <wsdl:part name="parameters" element="tns:MarkInvoiceAsCheckedResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_UpdateExternalData_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalData" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_UpdateExternalData_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExternalDataResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByExternalKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByExternalKey" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_GetInvoiceByExternalKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetInvoiceByExternalKeyResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_CreateInvoiceExternalMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoiceExternalMapping" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_CreateInvoiceExternalMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateInvoiceExternalMappingResponse" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_CreateCreditNoteExternalMapping_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateCreditNoteExternalMapping" />
  </wsdl:message>
  <wsdl:message name="InvoicingService_CreateCreditNoteExternalMapping_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateCreditNoteExternalMappingResponse" />
  </wsdl:message>
  <wsdl:portType name="InvoicingService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:InvoicingService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:InvoicingService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByID">
      <wsdl:input wsaw:Action="GetInvoiceByIDRequest" message="tns:InvoicingService_GetInvoiceByID_InputMessage" />
      <wsdl:output wsaw:Action="GetInvoiceByIDResponse" message="tns:InvoicingService_GetInvoiceByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByGUID">
      <wsdl:input wsaw:Action="GetInvoiceByGUIDRequest" message="tns:InvoicingService_GetInvoiceByGUID_InputMessage" />
      <wsdl:output wsaw:Action="GetInvoiceByGUIDResponse" message="tns:InvoicingService_GetInvoiceByGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditNoteByID">
      <wsdl:input wsaw:Action="GetCreditNoteByIDRequest" message="tns:InvoicingService_GetCreditNoteByID_InputMessage" />
      <wsdl:output wsaw:Action="GetCreditNoteByIDResponse" message="tns:InvoicingService_GetCreditNoteByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetCreditNoteByGUID">
      <wsdl:input wsaw:Action="GetCreditNoteByGUIDRequest" message="tns:InvoicingService_GetCreditNoteByGUID_InputMessage" />
      <wsdl:output wsaw:Action="GetCreditNoteByGUIDResponse" message="tns:InvoicingService_GetCreditNoteByGUID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="MarkInvoiceAsChecked">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/MarkInvoiceAsChecked" message="tns:InvoicingService_MarkInvoiceAsChecked_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/MarkInvoiceAsCheckedResponse" message="tns:InvoicingService_MarkInvoiceAsChecked_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalData">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/UpdateExternalData" message="tns:InvoicingService_UpdateExternalData_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/UpdateExternalDataResponse" message="tns:InvoicingService_UpdateExternalData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByExternalKey">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/GetInvoiceByExternalKey" message="tns:InvoicingService_GetInvoiceByExternalKey_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1/InvoicingService/GetInvoiceByExternalKeyResponse" message="tns:InvoicingService_GetInvoiceByExternalKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateInvoiceExternalMapping">
      <wsdl:input wsaw:Action="CreateInvoiceExternalMappingRequest" message="tns:InvoicingService_CreateInvoiceExternalMapping_InputMessage" />
      <wsdl:output wsaw:Action="CreateInvoiceExternalMappingResponse" message="tns:InvoicingService_CreateInvoiceExternalMapping_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CreateCreditNoteExternalMapping">
      <wsdl:input wsaw:Action="CreateCreditNoteExternalMappingRequest" message="tns:InvoicingService_CreateCreditNoteExternalMapping_InputMessage" />
      <wsdl:output wsaw:Action="CreateCreditNoteExternalMappingResponse" message="tns:InvoicingService_CreateCreditNoteExternalMapping_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_InvoicingService" type="tns:InvoicingService">
    <wsp:PolicyReference URI="#BasicHttpBinding_InvoicingService_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsAlive">
      <soap:operation soapAction="IsAliveRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByID">
      <soap:operation soapAction="GetInvoiceByIDRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByGUID">
      <soap:operation soapAction="GetInvoiceByGUIDRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditNoteByID">
      <soap:operation soapAction="GetCreditNoteByIDRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetCreditNoteByGUID">
      <soap:operation soapAction="GetCreditNoteByGUIDRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="MarkInvoiceAsChecked">
      <soap:operation soapAction="http://www.timelog.com/api/tlp/v1/InvoicingService/MarkInvoiceAsChecked" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateExternalData">
      <soap:operation soapAction="http://www.timelog.com/api/tlp/v1/InvoicingService/UpdateExternalData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetInvoiceByExternalKey">
      <soap:operation soapAction="http://www.timelog.com/api/tlp/v1/InvoicingService/GetInvoiceByExternalKey" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateInvoiceExternalMapping">
      <soap:operation soapAction="CreateInvoiceExternalMappingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CreateCreditNoteExternalMapping">
      <soap:operation soapAction="CreateCreditNoteExternalMappingRequest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InvoicingServiceSecure">
    <wsdl:port name="BasicHttpBinding_InvoicingService" binding="tns:BasicHttpBinding_InvoicingService">
      <soap:address location="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>