TimeLog.TransactionalApi.SDK/Service References/InvoicingService/InvoicingServiceSecure1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://www.timelog.com/api/tlp/v1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_1" />
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Invoicing/V1_0/InvoicingServiceSecure.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" />
  <xs:element name="GetInvoiceByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q1="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q1:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="GetInvoiceByIDResult" nillable="true" type="q2:ResponseOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInvoice">
    <xs:sequence>
      <xs:element xmlns:q3="http://www.timelog.com/api/tlp/v1" minOccurs="0" maxOccurs="unbounded" name="Invoice" nillable="true" type="q3:Invoice" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q4="http://www.timelog.com/api/tlp/v1" name="ArrayOfInvoice" nillable="true" type="q4:ArrayOfInvoice" />
  <xs:complexType name="Invoice">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q5:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DueDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequisitionNo" nillable="true" type="xs:string" />
          <xs:element xmlns:q6="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="InvoicingAddress" nillable="true" type="q6:Address" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="ContactID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternalReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CalculateVAT" type="xs:boolean" />
          <xs:element minOccurs="0" name="NetAmount" type="xs:double" />
          <xs:element minOccurs="0" name="VATIncluded" type="xs:double" />
          <xs:element minOccurs="0" name="Rounding" type="xs:double" />
          <xs:element minOccurs="0" name="AmountDue" type="xs:double" />
          <xs:element xmlns:q7="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="InvoiceLines" nillable="true" type="q7:ArrayOfInvoiceLine" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceCurrencyRate" type="xs:double" />
          <xs:element minOccurs="0" name="GUID" type="ser:guid" />
          <xs:element minOccurs="0" name="InvoicingAttention" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNoExternal" nillable="true" type="xs:string" />
          <xs:element xmlns:q8="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Details" nillable="true" type="q8:InvoiceDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q9="http://www.timelog.com/api/tlp/v1" name="Invoice" nillable="true" type="q9:Invoice" />
  <xs:complexType name="ArrayOfInvoiceLine">
    <xs:sequence>
      <xs:element xmlns:q10="http://www.timelog.com/api/tlp/v1" minOccurs="0" maxOccurs="unbounded" name="InvoiceLine" nillable="true" type="q10:InvoiceLine" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q11="http://www.timelog.com/api/tlp/v1" name="ArrayOfInvoiceLine" nillable="true" type="q11:ArrayOfInvoiceLine" />
  <xs:complexType name="InvoiceLine">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q12:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="InvoiceID" type="xs:int" />
          <xs:element minOccurs="0" name="Date" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ProductNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Quantity" type="xs:double" />
          <xs:element minOccurs="0" name="Rate" type="xs:double" />
          <xs:element minOccurs="0" name="Amount" type="xs:double" />
          <xs:element minOccurs="0" name="Discount" type="xs:double" />
          <xs:element minOccurs="0" name="InvoiceLineType" type="xs:int" />
          <xs:element minOccurs="0" name="VAT" type="xs:double" />
          <xs:element xmlns:q13="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Details" nillable="true" type="q13:InvoiceLineDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q14="http://www.timelog.com/api/tlp/v1" name="InvoiceLine" nillable="true" type="q14:InvoiceLine" />
  <xs:complexType name="InvoiceLineDetails">
    <xs:sequence>
      <xs:element xmlns:q15="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ProjectHeader" nillable="true" type="q15:ProjectHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q16="http://www.timelog.com/api/tlp/v1" name="InvoiceLineDetails" nillable="true" type="q16:InvoiceLineDetails" />
  <xs:complexType name="InvoiceDetails">
    <xs:sequence>
      <xs:element xmlns:q17="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Status" nillable="true" type="q17:InvoiceState" />
      <xs:element xmlns:q18="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Type" nillable="true" type="q18:InvoiceTypes" />
      <xs:element xmlns:q19="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="InternalReference" nillable="true" type="q19:EmployeeHeader" />
      <xs:element xmlns:q20="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="Currency" nillable="true" type="q20:Currency" />
      <xs:element xmlns:q21="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="CustomerHeader" nillable="true" type="q21:CustomerHeader" />
      <xs:element xmlns:q22="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ContactHeader" nillable="true" type="q22:ContactHeader" />
      <xs:element xmlns:q23="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ProjectHeader" nillable="true" type="q23:ProjectHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q24="http://www.timelog.com/api/tlp/v1" name="InvoiceDetails" nillable="true" type="q24:InvoiceDetails" />
  <xs:complexType name="InvoiceState">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q25:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q26="http://www.timelog.com/api/tlp/v1" name="InvoiceState" nillable="true" type="q26:InvoiceState" />
  <xs:complexType name="InvoiceTypes">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q27="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q27:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q28="http://www.timelog.com/api/tlp/v1" name="InvoiceTypes" nillable="true" type="q28:InvoiceTypes" />
  <xs:element name="GetInvoiceByGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" type="ser:guid" />
        <xs:element xmlns:q29="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q29:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q30="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="GetInvoiceByGUIDResult" nillable="true" type="q30:ResponseOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteByID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="id" type="xs:int" />
        <xs:element xmlns:q31="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q31:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q32="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="GetCreditNoteByIDResult" nillable="true" type="q32:ResponseOfCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCreditNote">
    <xs:sequence>
      <xs:element xmlns:q33="http://www.timelog.com/api/tlp/v1" minOccurs="0" maxOccurs="unbounded" name="CreditNote" nillable="true" type="q33:CreditNote" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q34="http://www.timelog.com/api/tlp/v1" name="ArrayOfCreditNote" nillable="true" type="q34:ArrayOfCreditNote" />
  <xs:complexType name="CreditNote">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q35="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q35:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="CreditNoteNO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Header" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditNoteDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Status" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Type" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RequisitionNo" nillable="true" type="xs:string" />
          <xs:element xmlns:q36="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="InvoicingAddress" nillable="true" type="q36:Address" />
          <xs:element minOccurs="0" name="CustomerID" type="xs:int" />
          <xs:element minOccurs="0" name="ContactID" type="xs:int" />
          <xs:element minOccurs="0" name="CustomerReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InternalReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CalculateVAT" type="xs:boolean" />
          <xs:element minOccurs="0" name="NetAmount" type="xs:double" />
          <xs:element minOccurs="0" name="VATIncluded" type="xs:double" />
          <xs:element minOccurs="0" name="Rounding" type="xs:double" />
          <xs:element minOccurs="0" name="AmountDue" type="xs:double" />
          <xs:element xmlns:q37="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="InvoiceLines" nillable="true" type="q37:ArrayOfInvoiceLine" />
          <xs:element minOccurs="0" name="Currency" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyRate" type="xs:double" />
          <xs:element minOccurs="0" name="GUID" type="ser:guid" />
          <xs:element minOccurs="0" name="EAN" nillable="true" type="xs:string" />
          <xs:element xmlns:q38="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Details" nillable="true" type="q38:CreditNoteDetails" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q39="http://www.timelog.com/api/tlp/v1" name="CreditNote" nillable="true" type="q39:CreditNote" />
  <xs:complexType name="CreditNoteDetails">
    <xs:sequence>
      <xs:element xmlns:q40="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Status" nillable="true" type="q40:InvoiceState" />
      <xs:element xmlns:q41="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Type" nillable="true" type="q41:InvoiceTypes" />
      <xs:element xmlns:q42="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="InternalReference" nillable="true" type="q42:EmployeeHeader" />
      <xs:element xmlns:q43="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="Currency" nillable="true" type="q43:Currency" />
      <xs:element xmlns:q44="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="CustomerHeader" nillable="true" type="q44:CustomerHeader" />
      <xs:element xmlns:q45="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ContactHeader" nillable="true" type="q45:ContactHeader" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q46="http://www.timelog.com/api/tlp/v1" name="CreditNoteDetails" nillable="true" type="q46:CreditNoteDetails" />
  <xs:element name="GetCreditNoteByGUID">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" type="ser:guid" />
        <xs:element xmlns:q47="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q47:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCreditNoteByGUIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q48="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="GetCreditNoteByGUIDResult" nillable="true" type="q48:ResponseOfCreditNote" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkInvoiceAsChecked">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" type="ser:guid" />
        <xs:element xmlns:q49="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q49:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MarkInvoiceAsCheckedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q50="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="MarkInvoiceAsCheckedResult" nillable="true" type="q50:ResponseOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="guid" type="ser:guid" />
        <xs:element minOccurs="0" name="externalInvoiceNumber" nillable="true" type="xs:string" />
        <xs:element xmlns:q51="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="externalInvoiceStatus" nillable="true" type="q51:InvoiceState" />
        <xs:element xmlns:q52="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q52:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExternalDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q53="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="UpdateExternalDataResult" nillable="true" type="q53:ResponseOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByExternalKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="systemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q54="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q54:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetInvoiceByExternalKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q55="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="GetInvoiceByExternalKeyResult" nillable="true" type="q55:ResponseOfInvoice" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceExternalMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="invoiceGuid" type="ser:guid" />
        <xs:element xmlns:q56="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="externalSystemContext" nillable="true" type="q56:ExternalSystemContext" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q57="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q57:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateInvoiceExternalMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q58="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="CreateInvoiceExternalMappingResult" nillable="true" type="q58:ResponseOfInvoiceWithExternalKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfInvoiceWithExternalKey">
    <xs:sequence>
      <xs:element xmlns:q59="http://www.timelog.com/api/tlp/v1" minOccurs="0" maxOccurs="unbounded" name="InvoiceWithExternalKey" nillable="true" type="q59:InvoiceWithExternalKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q60="http://www.timelog.com/api/tlp/v1" name="ArrayOfInvoiceWithExternalKey" nillable="true" type="q60:ArrayOfInvoiceWithExternalKey" />
  <xs:complexType name="InvoiceWithExternalKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q61="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q61:APIBase">
        <xs:sequence>
          <xs:element xmlns:q62="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="Invoice" nillable="true" type="q62:Invoice" />
          <xs:element xmlns:q63="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ExternalSystemContexts" nillable="true" type="q63:ArrayOfExternalSystemContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q64="http://www.timelog.com/api/tlp/v1" name="InvoiceWithExternalKey" nillable="true" type="q64:InvoiceWithExternalKey" />
  <xs:element name="CreateCreditNoteExternalMapping">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="creditNoteGuid" type="ser:guid" />
        <xs:element xmlns:q65="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="externalSystemContext" nillable="true" type="q65:ExternalSystemContext" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q66="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="token" nillable="true" type="q66:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateCreditNoteExternalMappingResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q67="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="CreateCreditNoteExternalMappingResult" nillable="true" type="q67:ResponseOfCreditNoteWithExternalKey" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:complexType name="ArrayOfCreditNoteWithExternalKey">
    <xs:sequence>
      <xs:element xmlns:q68="http://www.timelog.com/api/tlp/v1" minOccurs="0" maxOccurs="unbounded" name="CreditNoteWithExternalKey" nillable="true" type="q68:CreditNoteWithExternalKey" />
    </xs:sequence>
  </xs:complexType>
  <xs:element xmlns:q69="http://www.timelog.com/api/tlp/v1" name="ArrayOfCreditNoteWithExternalKey" nillable="true" type="q69:ArrayOfCreditNoteWithExternalKey" />
  <xs:complexType name="CreditNoteWithExternalKey">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q70="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_1" base="q70:APIBase">
        <xs:sequence>
          <xs:element xmlns:q71="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="CreditNote" nillable="true" type="q71:CreditNote" />
          <xs:element xmlns:q72="http://www.timelog.com/api/tlp/v1_1" minOccurs="0" name="ExternalSystemContexts" nillable="true" type="q72:ArrayOfExternalSystemContext" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element xmlns:q73="http://www.timelog.com/api/tlp/v1" name="CreditNoteWithExternalKey" nillable="true" type="q73:CreditNoteWithExternalKey" />
</xs:schema>