TimeLog.TransactionalApi.SDK/Service References/ExpenseService/ExpensesServiceSecure5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.timelog.com" elementFormDefault="qualified" targetNamespace="http://api.timelog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app3.timelog.com/soxdemo/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd6" namespace="http://api.timelog.com/services/expense/1_0" />
  <xs:import schemaLocation="https://app3.timelog.com/soxdemo/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
  <xs:import schemaLocation="https://app3.timelog.com/soxdemo/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:import schemaLocation="https://app3.timelog.com/soxdemo/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
  <xs:complexType name="ResponseOfExpense">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Expense" Namespace="http://api.timelog.com/services/expense/1_0" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://api.timelog.com/services/expense/1_0" minOccurs="0" name="Return" nillable="true" type="q2:ArrayOfExpense" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q3:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfExpense" nillable="true" type="tns:ResponseOfExpense" />
  <xs:complexType name="Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.timelog.com/api/tlp/v1_2" base="q4:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfRequestParameter" />
          <xs:element minOccurs="0" name="ServiceClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfRequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestParameter" nillable="true" type="tns:RequestParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestParameter" nillable="true" type="tns:ArrayOfRequestParameter" />
  <xs:complexType name="RequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestParameter" nillable="true" type="tns:RequestParameter" />
  <xs:complexType name="ArrayOfAPIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIMessage" nillable="true" type="tns:APIMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAPIMessage" nillable="true" type="tns:ArrayOfAPIMessage" />
  <xs:complexType name="APIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="Severity" type="q5:APIMessageSeverity" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIMessage" nillable="true" type="tns:APIMessage" />
  <xs:complexType name="ResponseOfPaymentMethod">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PaymentMethod" Namespace="http://api.timelog.com/services/expense/1_0" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.timelog.com/api/tlp/v1_2" base="q6:APIBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://api.timelog.com/services/expense/1_0" minOccurs="0" name="Return" nillable="true" type="q7:ArrayOfPaymentMethod" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q8:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfPaymentMethod" nillable="true" type="tns:ResponseOfPaymentMethod" />
  <xs:complexType name="ResponseOfExpenseType">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="ExpenseType" Namespace="http://api.timelog.com/services/expense/1_0" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://www.timelog.com/api/tlp/v1_2" base="q9:APIBase">
        <xs:sequence>
          <xs:element xmlns:q10="http://api.timelog.com/services/expense/1_0" minOccurs="0" name="Return" nillable="true" type="q10:ArrayOfExpenseType" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q11:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfExpenseType" nillable="true" type="tns:ResponseOfExpenseType" />
</xs:schema>