TimeLog.TransactionalApi.SDK/Service References/ExpenseService/ExpensesServiceSecure4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.timelog.com/api/tlp/v1_0" elementFormDefault="qualified" targetNamespace="http://www.timelog.com/api/tlp/v1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd5" namespace="http://api.timelog.com" />
  <xs:import schemaLocation="https://app4.timelog.com/soxdemo4/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd6" namespace="http://api.timelog.com/services/expense/1_0" />
  <xs:element name="GetExpensesByEmployee">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="initials" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="from" type="xs:dateTime" />
        <xs:element minOccurs="0" name="to" type="xs:dateTime" />
        <xs:element xmlns:q1="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q1:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpensesByEmployeeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://api.timelog.com" minOccurs="0" name="GetExpensesByEmployeeResult" nillable="true" type="q2:ResponseOfExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://api.timelog.com/services/expense/1_0" minOccurs="0" name="expense" nillable="true" type="q3:Expense" />
        <xs:element xmlns:q4="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q4:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="InsertExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://api.timelog.com" minOccurs="0" name="InsertExpenseResult" nillable="true" type="q5:ResponseOfExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpense">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://api.timelog.com/services/expense/1_0" minOccurs="0" name="expense" nillable="true" type="q6:Expense" />
        <xs:element xmlns:q7="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q7:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateExpenseResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://api.timelog.com" minOccurs="0" name="UpdateExpenseResult" nillable="true" type="q8:ResponseOfExpense" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethods">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q9:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentMethodsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://api.timelog.com" minOccurs="0" name="GetPaymentMethodsResult" nillable="true" type="q10:ResponseOfPaymentMethod" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypes">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q11:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetExpenseTypesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://api.timelog.com" minOccurs="0" name="GetExpenseTypesResult" nillable="true" type="q12:ResponseOfExpenseType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>