TimeLog.TransactionalApi.SDK/Service References/ExpenseService/ExpensesServiceSecure2.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.timelog.com/api/tlp/v1_0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.timelog.com/api/tlp/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ExpensesServiceSecure" targetNamespace="http://www.timelog.com/api/tlp/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.timelog.com/api/tlp/v1" location="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1_0/Imports">
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd4" namespace="http://www.timelog.com/api/tlp/v1_0" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd5" namespace="http://api.timelog.com" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd6" namespace="http://api.timelog.com/services/expense/1_0" />
      <xsd:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ExpenseService_IsAlive_InputMessage">
    <wsdl:part xmlns:q1="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q1:IsAlive" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_IsAlive_OutputMessage">
    <wsdl:part xmlns:q2="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q2:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetExpensesByEmployee_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesByEmployee" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetExpensesByEmployee_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpensesByEmployeeResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_InsertExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:InsertExpense" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_InsertExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:InsertExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_UpdateExpense_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpense" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_UpdateExpense_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdateExpenseResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetPaymentMethods_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentMethods" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetPaymentMethods_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentMethodsResponse" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetExpenseTypes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseTypes" />
  </wsdl:message>
  <wsdl:message name="ExpenseService_GetExpenseTypes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetExpenseTypesResponse" />
  </wsdl:message>
  <wsdl:portType name="ExpenseService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:ExpenseService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:ExpenseService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpensesByEmployee">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetExpensesByEmployee" message="tns:ExpenseService_GetExpensesByEmployee_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetExpensesByEmployeeResponse" message="tns:ExpenseService_GetExpensesByEmployee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="InsertExpense">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/InsertExpense" message="tns:ExpenseService_InsertExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/InsertExpenseResponse" message="tns:ExpenseService_InsertExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdateExpense">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/UpdateExpense" message="tns:ExpenseService_UpdateExpense_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/UpdateExpenseResponse" message="tns:ExpenseService_UpdateExpense_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentMethods">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetPaymentMethods" message="tns:ExpenseService_GetPaymentMethods_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetPaymentMethodsResponse" message="tns:ExpenseService_GetPaymentMethods_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetExpenseTypes">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetExpenseTypes" message="tns:ExpenseService_GetExpenseTypes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/ExpenseService/GetExpenseTypesResponse" message="tns:ExpenseService_GetExpenseTypes_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="ExpensesServiceSecure">
    <wsdl:port name="BasicHttpBinding_ExpenseService" binding="i0:BasicHttpBinding_ExpenseService">
      <soap:address location="https://app4.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>