TimeLog.TransactionalAPI.SDK/Service References/ExpenseService/ExpensesServiceSecure3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.timelog.com/services/expense/1_0" xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" elementFormDefault="qualified" targetNamespace="http://api.timelog.com/services/expense/1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Expenses" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd8" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Expenses/V1_0/ExpensesServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:complexType name="ArrayOfExpense">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Expense" nillable="true" type="tns:Expense" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpense" nillable="true" type="tns:ArrayOfExpense" />
  <xs:complexType name="Expense">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="ser:guid" />
          <xs:element minOccurs="0" name="Comment" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyISO" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyRate" type="xs:double" />
          <xs:element minOccurs="0" name="ExpenseNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmployeeInitials" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ExpenseTypeID" type="ser:guid" />
          <xs:element minOccurs="0" name="ExternalID" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InvoiceNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PaymentMethodID" type="xs:int" />
          <xs:element minOccurs="0" name="ProductNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProfitPercent" type="xs:double" />
          <xs:element minOccurs="0" name="ProjectNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PurchaseDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="PurchasedAmountInCurrency" type="xs:double" />
          <xs:element minOccurs="0" name="NonBillable" type="xs:boolean" />
          <xs:element minOccurs="0" name="VATAmount" type="xs:double" />
          <xs:element minOccurs="0" name="EmployeeNo" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Expenses" minOccurs="0" name="Category" type="q2:ExpenseCategories" />
          <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="ImageUrlList" nillable="true" type="q3:ArrayOfanyURI" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Expense" nillable="true" type="tns:Expense" />
  <xs:complexType name="ArrayOfPaymentMethod">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPaymentMethod" nillable="true" type="tns:ArrayOfPaymentMethod" />
  <xs:complexType name="PaymentMethod">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.timelog.com/api/tlp/v1_2" base="q4:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PaymentMethod" nillable="true" type="tns:PaymentMethod" />
  <xs:complexType name="ArrayOfExpenseType">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ExpenseType" nillable="true" type="tns:ExpenseType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfExpenseType" nillable="true" type="tns:ArrayOfExpenseType" />
  <xs:complexType name="ExpenseType">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://www.timelog.com/api/tlp/v1_2" base="q5:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="ser:guid" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VatPercent" type="xs:double" />
          <xs:element minOccurs="0" name="ProductNo" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ExpenseType" nillable="true" type="tns:ExpenseType" />
</xs:schema>