TimeLog.TransactionalApi.SDK/Service References/TimeTrackingService/TimeTrackingService4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:ser="http://schemas.microsoft.com/2003/10/Serialization/" xmlns:tns="http://api.timelog.com/services/crm/1_3" elementFormDefault="qualified" targetNamespace="http://api.timelog.com/services/crm/1_3" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:complexType name="CustomerHeader">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="No" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="GUID" type="ser:guid" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="CustomerHeader" nillable="true" type="tns:CustomerHeader" />
</xs:schema>