TimeLog.TransactionalApi.SDK/Service References/TimeTrackingService/TimeTrackingService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.timelog.com/api/tlp/v1_0" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.timelog.com/api/tlp/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="TimeTrackingService" targetNamespace="http://www.timelog.com/api/tlp/v1_0" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.timelog.com/api/tlp/v1" location="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1_0/Imports">
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd4" namespace="http://www.timelog.com/api/tlp/v1_0" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd5" namespace="http://api.timelog.com" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd6" namespace="http://www.timelog.com/api/tlp/v1" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Attributes" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd8" namespace="http://api.timelog.com/services/customfield/1_0" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.CustomFields" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Registration" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd11" namespace="http://www.timelog.com/api/tlp/v1_6" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd12" namespace="http://api.timelog.com/services/crm/1_3" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd13" namespace="http://api.timelog.com/services/salary/1_0" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd14" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
      <xsd:import schemaLocation="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc?xsd=xsd15" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="TimeTrackingService_IsAlive_InputMessage">
    <wsdl:part xmlns:q1="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q1:IsAlive" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_IsAlive_OutputMessage">
    <wsdl:part xmlns:q2="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q2:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_DeleteTimeRegistrationByExternalKey_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeRegistrationByExternalKey" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_DeleteTimeRegistrationByExternalKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteTimeRegistrationByExternalKeyResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeRegistrationByExternalKey_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationByExternalKey" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeRegistrationByExternalKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationByExternalKeyResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeTrackingItems_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTrackingItems" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeTrackingItems_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeTrackingItemsResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_SaveTimeRegistrationByExternalKey_InputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeRegistrationByExternalKey" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_SaveTimeRegistrationByExternalKey_OutputMessage">
    <wsdl:part name="parameters" element="tns:SaveTimeRegistrationByExternalKeyResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetOTTVersion_InputMessage">
    <wsdl:part name="parameters" element="tns:GetOTTVersion" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetOTTVersion_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetOTTVersionResponse" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeRegistrationsModifiedInPeriodPaged_InputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationsModifiedInPeriodPaged" />
  </wsdl:message>
  <wsdl:message name="TimeTrackingService_GetTimeRegistrationsModifiedInPeriodPaged_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetTimeRegistrationsModifiedInPeriodPagedResponse" />
  </wsdl:message>
  <wsdl:portType name="TimeTrackingService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:TimeTrackingService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:TimeTrackingService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteTimeRegistrationByExternalKey">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/DeleteTimeRegistrationByExternalKey" message="tns:TimeTrackingService_DeleteTimeRegistrationByExternalKey_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/DeleteTimeRegistrationByExternalKeyResponse" message="tns:TimeTrackingService_DeleteTimeRegistrationByExternalKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeRegistrationByExternalKey">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeRegistrationByExternalKey" message="tns:TimeTrackingService_GetTimeRegistrationByExternalKey_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeRegistrationByExternalKeyResponse" message="tns:TimeTrackingService_GetTimeRegistrationByExternalKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeTrackingItems">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeTrackingItems" message="tns:TimeTrackingService_GetTimeTrackingItems_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeTrackingItemsResponse" message="tns:TimeTrackingService_GetTimeTrackingItems_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SaveTimeRegistrationByExternalKey">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/SaveTimeRegistrationByExternalKey" message="tns:TimeTrackingService_SaveTimeRegistrationByExternalKey_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/SaveTimeRegistrationByExternalKeyResponse" message="tns:TimeTrackingService_SaveTimeRegistrationByExternalKey_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetOTTVersion">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetOTTVersion" message="tns:TimeTrackingService_GetOTTVersion_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetOTTVersionResponse" message="tns:TimeTrackingService_GetOTTVersion_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetTimeRegistrationsModifiedInPeriodPaged">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeRegistrationsModifiedInPeriodPaged" message="tns:TimeTrackingService_GetTimeRegistrationsModifiedInPeriodPaged_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_0/TimeTrackingService/GetTimeRegistrationsModifiedInPeriodPagedResponse" message="tns:TimeTrackingService_GetTimeRegistrationsModifiedInPeriodPaged_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="TimeTrackingService">
    <wsdl:port name="BasicHttpBinding_TimeTrackingService" binding="i0:BasicHttpBinding_TimeTrackingService">
      <soap:address location="http://localhost/TLP/WebServices/Registration/V1_0/TimeTrackingService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>