TimeLog.TransactionalAPI.SDK/Service References/TimeTrackingService/TimeTrackingServiceSecure6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.timelog.com/api/tlp/v1_0" elementFormDefault="qualified" targetNamespace="http://www.timelog.com/api/tlp/v1_0" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Registration/V1_0/TimeTrackingServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Registration/V1_0/TimeTrackingServiceSecure.svc?xsd=xsd5" namespace="http://api.timelog.com" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Registration/V1_0/TimeTrackingServiceSecure.svc?xsd=xsd6" namespace="http://www.timelog.com/api/tlp/v1" />
  <xs:element name="DeleteTimeRegistrationByExternalKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalSystemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q1:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteTimeRegistrationByExternalKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://api.timelog.com" minOccurs="0" name="DeleteTimeRegistrationByExternalKeyResult" nillable="true" type="q2:ResponseOfTimeRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeRegistrationByExternalKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="externalKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalSystemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q3="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q3:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeRegistrationByExternalKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://api.timelog.com" minOccurs="0" name="GetTimeRegistrationByExternalKeyResult" nillable="true" type="q4:ResponseOfTimeRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTrackingItems">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q5:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeTrackingItemsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://api.timelog.com" minOccurs="0" name="GetTimeTrackingItemsResult" nillable="true" type="q6:ResponseOfTimeTrackingGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeRegistrationByExternalKey">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://www.timelog.com/api/tlp/v1" minOccurs="0" name="registration" nillable="true" type="q7:TimeRegistration" />
        <xs:element minOccurs="0" name="externalKey" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="externalSystemName" nillable="true" type="xs:string" />
        <xs:element xmlns:q8="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q8:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="SaveTimeRegistrationByExternalKeyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://api.timelog.com" minOccurs="0" name="SaveTimeRegistrationByExternalKeyResult" nillable="true" type="q9:ResponseOfTimeRegistration" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTTVersion">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q10:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetOTTVersionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetOTTVersionResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeRegistrationsModifiedInPeriodPaged">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="page" type="xs:int" />
        <xs:element minOccurs="0" name="pageSize" type="xs:int" />
        <xs:element xmlns:q11="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q11:SecurityToken" />
        <xs:element minOccurs="0" name="includeExternalKeys" type="xs:boolean" />
        <xs:element minOccurs="0" name="externalSystemName" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetTimeRegistrationsModifiedInPeriodPagedResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://api.timelog.com" minOccurs="0" name="GetTimeRegistrationsModifiedInPeriodPagedResult" nillable="true" type="q12:ResponseOfTimeRegistrationDelta" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>