TimeLog.TransactionalApi.SDK/Service References/SalaryService/SalaryServiceSecure1011.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Salary.V1_1" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Salary.V1_1" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Employees" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:import schemaLocation="https://app4.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
  <xs:complexType name="ArrayOfNormalWorkingTime">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NormalWorkingTime" nillable="true" type="tns:NormalWorkingTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNormalWorkingTime" nillable="true" type="tns:ArrayOfNormalWorkingTime" />
  <xs:complexType name="NormalWorkingTime">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="CanBeDeleted" type="xs:boolean" />
          <xs:element minOccurs="0" name="Days" nillable="true" type="tns:ArrayOfNormalWorkingTimeDay" />
          <xs:element minOccurs="0" name="IsActive" type="xs:boolean" />
          <xs:element minOccurs="0" name="IsDefault" type="xs:boolean" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element xmlns:q2="http://schemas.microsoft.com/2003/10/Serialization/Arrays" minOccurs="0" name="NormHours" nillable="true" type="q2:ArrayOfKeyValueOfintdouble" />
          <xs:element minOccurs="0" name="NormalWorkingTimeID" type="xs:int" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Employees" minOccurs="0" name="NormalWorkingTimeType" type="q3:NormalWorkingTimeTypes" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalWorkingTime" nillable="true" type="tns:NormalWorkingTime" />
  <xs:complexType name="ArrayOfNormalWorkingTimeDay">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="NormalWorkingTimeDay" nillable="true" type="tns:NormalWorkingTimeDay" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfNormalWorkingTimeDay" nillable="true" type="tns:ArrayOfNormalWorkingTimeDay" />
  <xs:complexType name="NormalWorkingTimeDay">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.timelog.com/api/tlp/v1_2" base="q4:APIBase">
        <xs:sequence>
          <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/System" minOccurs="0" name="DayOfWeek" type="q5:DayOfWeek" />
          <xs:element minOccurs="0" name="Hours" type="xs:double" />
          <xs:element minOccurs="0" name="Minutes" type="xs:double" />
          <xs:element minOccurs="0" name="NormalWorkingTimeDayID" type="xs:int" />
          <xs:element minOccurs="0" name="NormalWorkingTimeID" type="xs:int" />
          <xs:element minOccurs="0" name="Order" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="NormalWorkingTimeDay" nillable="true" type="tns:NormalWorkingTimeDay" />
  <xs:complexType name="ArrayOfHolidayCalendar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HolidayCalendar" nillable="true" type="tns:HolidayCalendar" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHolidayCalendar" nillable="true" type="tns:ArrayOfHolidayCalendar" />
  <xs:complexType name="HolidayCalendar">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.timelog.com/api/tlp/v1_2" base="q6:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="HolidayCalendar" nillable="true" type="tns:HolidayCalendar" />
  <xs:complexType name="ArrayOfAllowance">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Allowance" nillable="true" type="tns:Allowance" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAllowance" nillable="true" type="tns:ArrayOfAllowance" />
  <xs:complexType name="Allowance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://www.timelog.com/api/tlp/v1_2" base="q7:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Id" type="xs:int" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Allowance" nillable="true" type="tns:Allowance" />
</xs:schema>