TimeLog.TransactionalAPI.SDK/Service References/SalaryService/SalaryServiceSecure1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:i0="http://www.timelog.com/api/tlp/v1" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://www.timelog.com/api/tlp/v1_1" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="SalaryServiceSecure" targetNamespace="http://www.timelog.com/api/tlp/v1_1" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.timelog.com/api/tlp/v1" location="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1_1/Imports">
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd4" namespace="http://www.timelog.com/api/tlp/v1_1" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd5" namespace="http://api.timelog.com" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd6" namespace="http://api.timelog.com/services/salary/1_1" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Salary" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Salary.V1_1" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd10" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd11" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
      <xsd:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc?xsd=xsd12" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Employees" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="SalaryService_IsAlive_InputMessage">
    <wsdl:part xmlns:q1="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q1:IsAlive" />
  </wsdl:message>
  <wsdl:message name="SalaryService_IsAlive_OutputMessage">
    <wsdl:part xmlns:q2="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q2:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllSalaryCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalaryCodes" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllSalaryCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllSalaryCodesResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllAbsenceCodes_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAbsenceCodes" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllAbsenceCodes_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllAbsenceCodesResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetNormalWorkweeks_InputMessage">
    <wsdl:part name="parameters" element="tns:GetNormalWorkweeks" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetNormalWorkweeks_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetNormalWorkweeksResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetHolidayCalendars_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidayCalendars" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetHolidayCalendars_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHolidayCalendarsResponse" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllowances_InputMessage">
    <wsdl:part name="parameters" element="tns:GetAllowances" />
  </wsdl:message>
  <wsdl:message name="SalaryService_GetAllowances_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetAllowancesResponse" />
  </wsdl:message>
  <wsdl:portType name="SalaryService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:SalaryService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:SalaryService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllSalaryCodes">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllSalaryCodes" message="tns:SalaryService_GetAllSalaryCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllSalaryCodesResponse" message="tns:SalaryService_GetAllSalaryCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllAbsenceCodes">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllAbsenceCodes" message="tns:SalaryService_GetAllAbsenceCodes_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllAbsenceCodesResponse" message="tns:SalaryService_GetAllAbsenceCodes_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetNormalWorkweeks">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetNormalWorkweeks" message="tns:SalaryService_GetNormalWorkweeks_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetNormalWorkweeksResponse" message="tns:SalaryService_GetNormalWorkweeks_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHolidayCalendars">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetHolidayCalendars" message="tns:SalaryService_GetHolidayCalendars_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetHolidayCalendarsResponse" message="tns:SalaryService_GetHolidayCalendars_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAllowances">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllowances" message="tns:SalaryService_GetAllowances_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_1/SalaryService/GetAllowancesResponse" message="tns:SalaryService_GetAllowances_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="SalaryServiceSecure">
    <wsdl:port name="BasicHttpBinding_SalaryService" binding="i0:BasicHttpBinding_SalaryService">
      <soap:address location="https://app8.timelog.com/610patchreference/WebServices/Salary/V1_1/SalaryServiceSecure.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>