TimeLog.TransactionalApi.SDK/Service References/FinancialService/FinancialService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://www.timelog.com/api/tlp/v1_2" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:i0="http://www.timelog.com/api/tlp/v1" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="FinancialService" targetNamespace="http://www.timelog.com/api/tlp/v1_2" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:import namespace="http://www.timelog.com/api/tlp/v1" location="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?wsdl=wsdl0" />
  <wsdl:types>
    <xsd:schema targetNamespace="http://www.timelog.com/api/tlp/v1_2/Imports">
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd4" namespace="http://api.timelog.com" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
      <xsd:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FinancialService_IsAlive_InputMessage">
    <wsdl:part xmlns:q1="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q1:IsAlive" />
  </wsdl:message>
  <wsdl:message name="FinancialService_IsAlive_OutputMessage">
    <wsdl:part xmlns:q2="http://www.timelog.com/api/tlp/v1_3" name="parameters" element="q2:IsAliveResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntities_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntities" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntities_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntitiesResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntitiesByCurrency_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntitiesByCurrency" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntitiesByCurrency_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntitiesByCurrencyResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntitiesByName_InputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntitiesByName" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetLegalEntitiesByName_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetLegalEntitiesByNameResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetPriceGroups_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceGroups" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetPriceGroups_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPriceGroupsResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetHourlyRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetHourlyRates" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetHourlyRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetHourlyRatesResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetEmployeeCostRates_InputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeCostRates" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetEmployeeCostRates_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetEmployeeCostRatesResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetContractList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetContractList" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetContractList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetContractListResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetPaymentList_InputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentList" />
  </wsdl:message>
  <wsdl:message name="FinancialService_GetPaymentList_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetPaymentListResponse" />
  </wsdl:message>
  <wsdl:message name="FinancialService_UpdatePaymentQuantity_InputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentQuantity" />
  </wsdl:message>
  <wsdl:message name="FinancialService_UpdatePaymentQuantity_OutputMessage">
    <wsdl:part name="parameters" element="tns:UpdatePaymentQuantityResponse" />
  </wsdl:message>
  <wsdl:portType name="FinancialService">
    <wsdl:operation name="IsAlive">
      <wsdl:input wsaw:Action="IsAliveRequest" message="tns:FinancialService_IsAlive_InputMessage" />
      <wsdl:output wsaw:Action="IsAliveReponse" message="tns:FinancialService_IsAlive_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLegalEntities">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntities" message="tns:FinancialService_GetLegalEntities_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntitiesResponse" message="tns:FinancialService_GetLegalEntities_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLegalEntitiesByCurrency">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntitiesByCurrency" message="tns:FinancialService_GetLegalEntitiesByCurrency_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntitiesByCurrencyResponse" message="tns:FinancialService_GetLegalEntitiesByCurrency_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetLegalEntitiesByName">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntitiesByName" message="tns:FinancialService_GetLegalEntitiesByName_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetLegalEntitiesByNameResponse" message="tns:FinancialService_GetLegalEntitiesByName_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPriceGroups">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetPriceGroups" message="tns:FinancialService_GetPriceGroups_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetPriceGroupsResponse" message="tns:FinancialService_GetPriceGroups_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetHourlyRates">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetHourlyRates" message="tns:FinancialService_GetHourlyRates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetHourlyRatesResponse" message="tns:FinancialService_GetHourlyRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetEmployeeCostRates">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetEmployeeCostRates" message="tns:FinancialService_GetEmployeeCostRates_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetEmployeeCostRatesResponse" message="tns:FinancialService_GetEmployeeCostRates_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContractList">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetContractList" message="tns:FinancialService_GetContractList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetContractListResponse" message="tns:FinancialService_GetContractList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetPaymentList">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetPaymentList" message="tns:FinancialService_GetPaymentList_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/GetPaymentListResponse" message="tns:FinancialService_GetPaymentList_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="UpdatePaymentQuantity">
      <wsdl:input wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/UpdatePaymentQuantity" message="tns:FinancialService_UpdatePaymentQuantity_InputMessage" />
      <wsdl:output wsaw:Action="http://www.timelog.com/api/tlp/v1_2/FinancialService/UpdatePaymentQuantityResponse" message="tns:FinancialService_UpdatePaymentQuantity_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:service name="FinancialService">
    <wsdl:port name="BasicHttpBinding_FinancialService" binding="i0:BasicHttpBinding_FinancialService">
      <soap:address location="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>