TimeLog.TransactionalAPI.SDK/Service References/FinancialService/FinancialServiceSecure3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://www.timelog.com/api/tlp/v1_2" elementFormDefault="qualified" targetNamespace="http://www.timelog.com/api/tlp/v1_2" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Financial/V1_2/FinancialServiceSecure.svc?xsd=xsd1" namespace="http://www.timelog.com/api/tlp/v1_3" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Financial/V1_2/FinancialServiceSecure.svc?xsd=xsd4" namespace="http://api.timelog.com" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Financial/V1_2/FinancialServiceSecure.svc?xsd=xsd0" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import schemaLocation="https://app8.timelog.com/610patchreference/WebServices/Financial/V1_2/FinancialServiceSecure.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
  <xs:complexType name="APIBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="APIBase" nillable="true" type="tns:APIBase" />
  <xs:element name="GetContractList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="projectID" type="xs:int" />
        <xs:element xmlns:q1="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q1:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetContractListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://api.timelog.com" minOccurs="0" name="GetContractListResult" nillable="true" type="q2:ResponseOfContract" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvoiceSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="customerId" type="xs:int" />
        <xs:element xmlns:q3="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q3:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetCustomerInvoiceSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://api.timelog.com" minOccurs="0" name="GetCustomerInvoiceSettingsResult" nillable="true" type="q4:ResponseOfCustomerInvoiceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCostRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q5:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetEmployeeCostRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://api.timelog.com" minOccurs="0" name="GetEmployeeCostRatesResult" nillable="true" type="q6:ResponseOfEmployeeCostRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourlyRates">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyAbb" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="legalEntityId" type="xs:int" />
        <xs:element xmlns:q7="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q7:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetHourlyRatesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://api.timelog.com" minOccurs="0" name="GetHourlyRatesResult" nillable="true" type="q8:ResponseOfHourlyRate" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntities">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q9:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntitiesResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://api.timelog.com" minOccurs="0" name="GetLegalEntitiesResult" nillable="true" type="q10:ResponseOfLegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntitiesByCurrency">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="currencyABB" nillable="true" type="xs:string" />
        <xs:element xmlns:q11="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q11:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntitiesByCurrencyResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://api.timelog.com" minOccurs="0" name="GetLegalEntitiesByCurrencyResult" nillable="true" type="q12:ResponseOfLegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntitiesByName">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="name" nillable="true" type="xs:string" />
        <xs:element xmlns:q13="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q13:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetLegalEntitiesByNameResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://api.timelog.com" minOccurs="0" name="GetLegalEntitiesByNameResult" nillable="true" type="q14:ResponseOfLegalEntity" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentList">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="contractID" type="xs:int" />
        <xs:element minOccurs="0" name="startDate" type="xs:dateTime" />
        <xs:element minOccurs="0" name="endDate" type="xs:dateTime" />
        <xs:element xmlns:q15="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q15:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPaymentListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://api.timelog.com" minOccurs="0" name="GetPaymentListResult" nillable="true" type="q16:ResponseOfPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceGroups">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="legalEntityID" type="q17:guid" />
        <xs:element xmlns:q18="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q18:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetPriceGroupsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://api.timelog.com" minOccurs="0" name="GetPriceGroupsResult" nillable="true" type="q19:ResponseOfPriceGroup" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerInvoiceSettings">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="invoiceSettings" nillable="true" type="q20:CustomerInvoiceSettings" />
        <xs:element xmlns:q21="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q21:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdateCustomerInvoiceSettingsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://api.timelog.com" minOccurs="0" name="UpdateCustomerInvoiceSettingsResult" nillable="true" type="q22:ResponseOfCustomerInvoiceSettings" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentQuantity">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="payment" nillable="true" type="q23:Payment" />
        <xs:element minOccurs="0" name="source" type="xs:int" />
        <xs:element xmlns:q24="http://www.timelog.com/api/tlp/v1_3" minOccurs="0" name="token" nillable="true" type="q24:SecurityToken" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="UpdatePaymentQuantityResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://api.timelog.com" minOccurs="0" name="UpdatePaymentQuantityResult" nillable="true" type="q25:ResponseOfPayment" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>