TimeLog.TransactionalApi.SDK/Service References/FinancialService/FinancialService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://api.timelog.com" elementFormDefault="qualified" targetNamespace="http://api.timelog.com" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
  <xs:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" />
  <xs:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd2" namespace="http://www.timelog.com/api/tlp/v1_2" />
  <xs:import schemaLocation="http://localhost/tlp/WebServices/Financial/V1_2/FinancialService.svc?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" />
  <xs:complexType name="ResponseOfLegalEntity">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="LegalEntity" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://www.timelog.com/api/tlp/v1_2" base="q1:APIBase">
        <xs:sequence>
          <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q2:ArrayOfLegalEntity" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q3:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfLegalEntity" nillable="true" type="tns:ResponseOfLegalEntity" />
  <xs:complexType name="Request">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://www.timelog.com/api/tlp/v1_2" base="q4:APIBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Parameters" nillable="true" type="tns:ArrayOfRequestParameter" />
          <xs:element minOccurs="0" name="ServiceClass" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MethodName" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Request" nillable="true" type="tns:Request" />
  <xs:complexType name="ArrayOfRequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="RequestParameter" nillable="true" type="tns:RequestParameter" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfRequestParameter" nillable="true" type="tns:ArrayOfRequestParameter" />
  <xs:complexType name="RequestParameter">
    <xs:sequence>
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestParameter" nillable="true" type="tns:RequestParameter" />
  <xs:complexType name="ArrayOfAPIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="APIMessage" nillable="true" type="tns:APIMessage" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAPIMessage" nillable="true" type="tns:ArrayOfAPIMessage" />
  <xs:complexType name="APIMessage">
    <xs:sequence>
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Communication.V1_0" minOccurs="0" name="Severity" type="q5:APIMessageSeverity" />
      <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="APIMessage" nillable="true" type="tns:APIMessage" />
  <xs:complexType name="ResponseOfPriceGroup">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="PriceGroup" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://www.timelog.com/api/tlp/v1_2" base="q6:APIBase">
        <xs:sequence>
          <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q7:ArrayOfPriceGroup" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q8:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfPriceGroup" nillable="true" type="tns:ResponseOfPriceGroup" />
  <xs:complexType name="ResponseOfHourlyRate">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="HourlyRate" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://www.timelog.com/api/tlp/v1_2" base="q9:APIBase">
        <xs:sequence>
          <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q10:ArrayOfHourlyRate" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q11:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfHourlyRate" nillable="true" type="tns:ResponseOfHourlyRate" />
  <xs:complexType name="ResponseOfEmployeeCostRate">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="EmployeeCostRate" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://www.timelog.com/api/tlp/v1_2" base="q12:APIBase">
        <xs:sequence>
          <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q13:ArrayOfEmployeeCostRate" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q14:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfEmployeeCostRate" nillable="true" type="tns:ResponseOfEmployeeCostRate" />
  <xs:complexType name="ResponseOfContract">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Contract" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://www.timelog.com/api/tlp/v1_2" base="q15:APIBase">
        <xs:sequence>
          <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q16:ArrayOfContract" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q17:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfContract" nillable="true" type="tns:ResponseOfContract" />
  <xs:complexType name="ResponseOfPayment">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ResponseOf{0}" Namespace="http://api.timelog.com" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="Payment" Namespace="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://www.timelog.com/api/tlp/v1_2" base="q18:APIBase">
        <xs:sequence>
          <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/TimeLog.TLP.API.Proxy.Financial.V1_2" minOccurs="0" name="Return" nillable="true" type="q19:ArrayOfPayment" />
          <xs:element minOccurs="0" name="ReturnTypeDescription" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Request" nillable="true" type="tns:Request" />
          <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/TimeLog.TLP.Common" minOccurs="0" name="ResponseState" type="q20:ExecutionStatus" />
          <xs:element minOccurs="0" name="Messages" nillable="true" type="tns:ArrayOfAPIMessage" />
          <xs:element minOccurs="0" name="ErrorCode" type="xs:int" />
          <xs:element minOccurs="0" name="IsReturnPaged" type="xs:boolean" />
          <xs:element minOccurs="0" name="TotalPageCount" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ResponseOfPayment" nillable="true" type="tns:ResponseOfPayment" />
</xs:schema>